/** Brand vars **/

// colors
@black: #000;
@white: #fff;
// tidal wrap
@tidal-green: #d5df5e;
@tidal-green-dark: darken(@tidal-green, 15);
@tidal-green-darker: darken(@tidal-green, 30);
// keymarine
@key-yellow: #d6e04b;
@key-orange: #d66123;
@key-orange-light: lighten(@key-orange, 10);
@key-grey: #333;
@key-grey-dark: #222;
@key-grey-darker: #111;
// pcs
@pcs-blue: #06aeef;
@pcs-blue-dark: darken(@pcs-blue, 15);
@pcs-blue-darker: darken(@pcs-blue, 22);
@pcs-blue-darkest: darken(@pcs-blue, 30);
@pcs-blue-light: lighten(@pcs-blue, 15);
@pcs-blue-lighter: lighten(@pcs-blue, 30);

// fonts
@font-family-sans-serif: "Open Sans", sans-serif;
@headings-font-family: "Asap";
@headings-font-weight: 700;


/** Bootstrap overrides **/
// colors
@link-color: @pcs-blue-dark;
@brand-primary: @pcs-blue-darker;

// navbar
@navbar-margin-bottom: 0;
@navbar-border-radius: 0;

// green
// @navbar-default-bg: @tidal-green;
// @navbar-default-color: @black;
// @navbar-default-link-color: @black;
// @navbar-default-link-hover-color: @white;
// @navbar-default-link-active-color: @white;
// @navbar-default-link-hover-bg: @black;
// @navbar-default-link-active-bg: @black;

// blue
// @navbar-default-bg: @pcs-blue-darker;
// @navbar-default-color: @white;
// @navbar-default-link-color: @white;
// @navbar-default-link-hover-color: @black;
// @navbar-default-link-active-color: @black;
// @navbar-default-link-hover-bg: @white;
// @navbar-default-link-active-bg: @white;

// orange
@navbar-default-bg: @key-orange;
@navbar-default-color: @white;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-active-color: @white;
@navbar-default-link-hover-bg: @black;
@navbar-default-link-active-bg: @black;

// grid
@grid-float-breakpoint: 970px;
