/** Less imports **/
@import "_less/bootstrap.less";
@import "_settings.less";


/** Google fonts **/
@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
@import url('//fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic');




/** Utility **/
*, *:before, *:after {
  box-sizing: border-box;
}
.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}


/** Misc **/
.hr-dark {
  border-color: @key-grey;
}

/** Globals **/
body {
  background: #ddd;
  padding-top: 50px;
}

@media (min-width: @screen-sm-min) {
  .container {
    max-width: 900px;
  }
}


/** Header **/
.site-header {
  background: @pcs-blue-darker;
  background-image: linear-gradient(0deg, @pcs-blue-dark, darken(@pcs-blue-dark, 6%));
  color: white;
  padding: 1em 0;
  text-align: center;
}
.header-tagline {
  text-align: center;
  text-transform: uppercase;
  font-size: @font-size-large;
  font-weight: bold;
  padding: 1em 0 0;
  text-shadow: 1px 1px 2px @black;
}
@media (min-width: @screen-sm-min) {
  .site-header {
    background: @pcs-blue-darker url(../img/head-3-1024.jpg) no-repeat left top;
    padding: 1em 0;
  }
  .header-tagline {
    // padding: 2em 0 0;
    font-size: 1.2em;
  }
}
@media (min-width: @screen-md-min) {
  .site-header {
    background-image: url(../img/head-3-1818.jpg);
    padding: 3em 0;
  }
}


/** Nav **/
.site-nav {
  .navbar {
    border: none 0;
    box-shadow: 0 2px 1px rgba(0,0,0,0.7);
  }
  // &.navbar-inverse {
  //   background-color: black;
  //   background-image: linear-gradient(0deg, black, #333 97%, black);
  // }
}
@media (max-width: @screen-sm-min) {
  .site-nav .container {
    padding-left: 0;
    padding-right: 0;
  }
}


/** Map **/
.site-map {
  margin: 2em 0;
  background-color: @pcs-blue-darkest;
}


/** Footer **/
.site-footer {
  hr { border-color: @gray-light; }
}
.logo-km {
  margin-bottom: 1em;
}
@media (min-width: @screen-sm-min) {
  .footer-extra {
    text-align: right;
  }
}


/** Site Wrapper **/
.site-wrap {
  background-color: @white;
  background: @white linear-gradient(0deg, @white 90%, #ccc);
}



/** Main **/
.main-aside {
  padding-top: 2em;
}
@media (max-width: @screen-xs-max) {
  .solution-images {
    img { margin: 1em auto; }
  }
}

.list-group.advantages {
  .list-group-item {
    font-size: 1.1em;
    font-weight: bold;

    .glyphicon { color: @key-orange; margin: 0 0.5em; }
  }
}

/** Section Classes **/
.section-padded {
  padding: 2em 0;
}

// KeyM section
.section-key {
  background: @key-grey;
  color: @white;
  a { color: @key-orange-light; }
  hr { border-color: @key-grey-dark; }
  .page-header { border-color: @key-grey-dark; }
  .thumbnail {
    background-color: darken(@key-grey, 2%);
    border-color: @key-grey-dark;
    .caption { color: @white; }
  }
}

// PCS section
.section-pcs {
  background: @pcs-blue-dark;
  color: @white;
  a { color: @white; text-decoration: underline; }
  a:hover, a:active, a:focus { text-decoration: none; }
  hr { border-color: @pcs-blue-darker; }
}
#about-pcs {
  margin-bottom: 0;
}



/** Contact **/
.company-name {
  font-size: @font-size-large;
  font-weight: bold;
  margin-top: 1em;
}
