section#advantages.section-padded
  .container-fluid
    .row.wow.fadeInDown
      .col-sm-12.text-center
        .page-header
          h2!= characteristics.title
    .row.text-center
      .col-sm-8.col-sm-offset-2
        each p in characteristics.body
          p.lead.wow.fadeInDown= p
    .row
      .col-sm-6.wow.fadeInLeftBig
        .list-group.advantages
          - var n = characteristics.items.length
          - for (var i = 0; i < n/2; i++)
            .list-group-item
              p.list-group-item-heading
                i.glyphicon.glyphicon-ok-sign
                |&nbsp;
                != characteristics.items[i]
      .col-sm-6.wow.fadeInRightBig
        .list-group.advantages
          - for (var i = n/2; i < n; i++)
            .list-group-item
              p.list-group-item-heading
                i.glyphicon.glyphicon-ok-sign
                |&nbsp;
                != characteristics.items[i]
