header.site.site-header
  .container
    .row
      .col-sm-4.header-logo
        a(href='/')
          img(src='img/logo.png', alt='#{ site.name }')
      .col-sm-8
        p.header-tagline= site.tagline
