.container-fluid
  h1.text-center Tidal Wrap Provides
    br
    != site.tagline
  hr.hr-dark

!= partial('_the_problem')
!= partial('_the_solution')
!= partial('_overview')
!= partial('_smart_band')
!= partial('_system')
!= partial('_advantages')
!= partial('_installation')
!= partial('_about_pcs')
!= partial('_contact')
