section#smart-band.section-padded
  .container-fluid.text-center
    hr
    .page-header
      h2 Tidal Wrap Smart Band
    .row.wow.fadeInDown
      .col-sm-8.col-sm-offset-2
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    .row
      .col-sm-12
        p.wow.fadeInDown: img.img-responsive(src='img/smart-band.jpg', alt='Smart Band')
        p.wow.fadeInDown: img.img-responsive(src='img/tidal-wrap.jpg', alt)
