section#smart-band.section-padded
  .container-fluid.text-center
    hr
    .page-header
      h2= smartBand.title
    .row.wow.fadeInDown
      .col-sm-8.col-sm-offset-2
        p.lead= smartBand.body
    .row
      .col-sm-12
        p.wow.fadeInDown: img.img-responsive(src='/img/smart-band.jpg', alt='Smart Band')
        p.wow.fadeInDown: img.img-responsive(src='/img/tidal-wrap.jpg', alt)
