section#the-problem
  .container-fluid
    .row
      .col-sm-12
        .page-header
          h2.text-center= theProblem.title
        p.lead.text-center= theProblem.body
  .container-fluid.wow.fadeInLeftBig
    .row.text-center
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-11.jpg', alt)
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-12.jpg', alt)
      .clearfix.visible-xs
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-6.jpg', alt)
      .clearfix.hidden-xs
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-5.jpg', alt)
      .clearfix.visible-xs
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-1.jpg', alt)
      .col-xs-6.col-sm-4
        img.thumbnail.img-responsive(src='/img/problem-7.jpg', alt)
