section#the-problem
  .container-fluid
    .row
      .col-sm-12
        .page-header
          h2.text-center= blocks.theProblem.title
        p.lead.text-center= blocks.theProblem.body
  .container-fluid.wow.fadeInLeftBig
    .row.text-center
      .col-xs-6.col-md-3
        img.thumbnail.img-responsive(src='img/problem-6.jpg', alt)
      .col-xs-6.col-md-3
        img.thumbnail.img-responsive(src='img/problem-5.jpg', alt)
      .col-xs-6.col-md-3
        img.thumbnail.img-responsive(src='img/problem-1.jpg', alt)
      .col-xs-6.col-md-3
        img.thumbnail.img-responsive(src='img/problem-7.jpg', alt)
