section#solution.section-padded.section-key
  .container-fluid.wow.fadeInRightBig
    .row
      .col-sm-12
        .page-header
          h2.text-center= theSolution.title
        p.lead.text-center= theSolution.body
  .container-fluid
    .row.wow.fadeInDown.solution-images
      .col-sm-4
        img.thumbnail.img-responsive(src='/img/tidal-wrap.jpg', alt)
      .col-sm-4
        img.thumbnail.img-responsive(src='/img/solution-2.jpg', alt)
      .col-sm-4
        img.thumbnail.img-responsive(src='/img/liner.jpg', alt)
