.jumbotron
  .container
    h1.jumbotron-content #{ site.name } Provides #{ site.tagline }

.container#intro
  .row
    .col-sm-7
      .intro-box.wow.fadeInDown
        h2 Anticorrosive Protection System
        p.lead The PCS anticorrosive protection system provides splash zone protection for steel structures, concrete, and wood.
      .intro-box.wow.fadeInRightBig
        h2 Ideal for Severe Conditions
        p.lead The PCS system is ideal for environments where conditions are too severe for paint systems, epoxies and other conventional forms of protection.
      .intro-box.wow.fadeInLeftBig
        h2 Stops Corrosion
        p.lead The PCS system seals the oxygen and water and effectively stops corrosion on metal surfaces.
      .intro-box.wow.fadeInRightBig
        h2 Preventative Effects
        p.lead.wow.fadeInRightBig The system also prevents loosening and corrosion of steel reinforcement in concrete piles. The PCS system encapsulates pier piles, riser tubes and pipes exposed in intertidal zones and splash.
      .intro-box.wow.fadeInLeftBig
        h2 Configurations
        p.lead.wow.fadeInLeftBig The system accommodates cylindrical piles and H configurations and support members, reinforcement, supports and other uneven surfaces.
    .col-sm-5.text-center
      img(src='img/pipe.png', alt='', height='700')


section#subsystem.section-dark.section-theme-km.section-padded
  .container
    h2.section-title.text-center Sub System &amp; Products
    hr
    .row.wow.fadeInRightBig
      .col-sm-6.pad-top
        h3 PCS Primer
        p.lead Petrolatum-based primer for use on metal surfaces prior to wrapping with Anti corrosion Petro Tape.
      .col-sm-6
        img.img-responsive(src='img/primer.png', alt='')
    hr
    .row.wow.fadeInLeftBig
      .col-sm-6.pad-top
        h3 PCS Mastic
        p.lead Petrolatum Mastic is used to fill cavities based on uneven surfaces before wrapping PCS Anti corrosion tape.
      .col-sm-6
        img.img-responsive(src='img/mastic.png', alt='')
    hr
    .row.wow.fadeInRightBig
      .col-sm-6.pad-top
        h3 PCS Liner 6000
        p.lead The PC&reg; 6000HD series consists of a proprietary polymer polyolefin, fully protected against UV degradation and oxidation with technically advanced stabilization package
      .col-sm-6
        img.img-responsive(src='img/liner.png', alt='')
    hr
    .row.wow.fadeInLeftBig
      .col-sm-6.pad-top
        h3 Petro Tape
        p.lead Synthetic adhesive fabric impregnated and coated with a material based on waxes and oils, covered with vaseline-based compounds and inert fibers.
      .col-sm-6
        img.img-responsive(src='img/petrotape.png', alt='')
    hr

section#advantages.section-light.section-padded
  .container
    h2.section-title.text-center Characteristics &amp; Advantages
    .row
      .col-sm-12.text-center
        p.lead Since its first introduction in 1929 petrolatum tapes have established an enviable record of performance and unparalleled asset protection in a number of environments.
        p.lead Mechanical protection also covers Liner 6000 PCL have stood the test of time in atmospheric environments and aggressive chemicals (30 years +).
    .row
      .col-sm-8.col-sm-offset-2.text-center
        ul.list-centered.larger-font
          li Minimum surface preparation required
          li Can be applied under water
          li Tested by more than 75-year history of corrosion protection
          li Resistance to water, salts, alkalis and acids
          li Application for new installations as corroded
          li Mechanical covers one piece
          li High impact shock resistance and tides.
          li High capacity Ultraviolet
          li Environmentally responsible and safe to use
          li Maintenance free for long


section#applications.section-dark.section-theme-km.section-padded
  .container
    h2.section-title.text-center Applications &amp; Other Uses
    .row.text-center
      .col-sm-4
        .well
          strong Hydraulic systems in marine areas or high salinity
      .col-sm-4
        .well
          strong Protect panels and electrical equipment subject to moisture in docks, terminals, etc.
      .col-sm-4
        .well
          strong Protection of pipes, valves, steel flanges underground

section#about.section-dark.section-theme-pcs.section-padded
  .container
    h2.section-title.text-center About Petro Coating Systems Ltd. (Canada)
    p.text-center.pcs-logo
      img.img-responsive(src='img/pcs-logo.png', alt='PCS')
    .row.text-center
      .col-sm-3
        .well.wow.bounceIn
          p PCS is one of the leading manufacturers of anticorrosion tape systems petrolatum, exporting to many countries throughout the world.
      .col-sm-3
        .well.wow.bounceIn
          p PCS products are designed to stop and prevent corrosion in pipes, valves, piles, fittings and flanges in the most extreme environments imaginable.
      .col-sm-3
        .well.wow.bounceIn
          p PCS products are used successfully in a variety of applications in oil & gas, pulp & paper, municipal and wastewater industries and routine building maintenance.
      .col-sm-3
        .well.wow.bounceIn
          p It is located in Toronto, Canada and is one of the most efficient in their field with the latest manufacturing equipment.
    p.text-center: a.btn.btn-primary(href='http://www.keymarine.ca/pcs.php', target='_blank') Learn more about PCS
      | &nbsp;
      span.glyphicon.glyphicon-chevron-right

section#contact.section-dark.section-theme-km.section-padded
  .container
    h2.section-title.text-center Contact Us
    p: mark contact info/form here
