.container
  .page-header
    h1.text-center Tidal Wrap Provides
      br
      != site.tagline
  .row
    .col-sm-6
      h2 Some small heading
      p
        | Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
    .col-sm-6
      img.img-responsive(src='img/tidal-wrap.jpg', alt)

  section#the-problem
    .row
      .col-sm-8.col-sm-offset-2
        .page-header
          h2.text-center The Problem
        p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    .row
      .col-sm-6
        img.thumbnail.img-responsive(src='img/problem-1.jpg', alt)
      .col-sm-6
        img.thumbnail.img-responsive(src='img/problem-2.jpg', alt)
    br
    .row
      .col-sm-6
        img.thumbnail.img-responsive(src='img/problem-3.jpg', alt)
      .col-sm-6
        img.thumbnail.img-responsive(src='img/problem-4.jpg', alt)
